/*
 * This code demonstrates how to implement a basic flexbox sticky-footer.
 *
 * Issues: note how the overflow in the header causes the footer not to expand all the way
 */




/* remove the margin & padding defaults for all elements, starting from scratch */
* {
 margin: 0;
 padding: 0;
 border: 0;
}

/* why do we need this directive */
html {
 /*
  * if you remove this setting, then long non-wrapping content
  * that horizontally overflows the body will overflow its containers
  *
  */
 display: inline-flex;
 min-height: 100%;
 /*
  * if you use neither height nor min-height, the body will not
  * expand vertically to fill the screen for large displays.
  */
 /*
  * if you use height: 100% at all, the body will fit to the viewing 
  * frame but will not include vertical overflow.
  */
 /*height: 100%;*/

 background-color: orange;
}

body {
 /* 
  * if you remove this setting then the body does not expand 
  * horizontally to fill the entire screen for large displays
  *
  */
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 min-height: 100%;
 /*
  * if you use height instead of min-height, the body will
  * be cut off vertically (firefox)
  *
  */
 /* height: 100%; */
 background-color: purple;
}

header {
 background-color: blue;
}

main {
 flex: 1;
 display: flex;
 flex-direction: column;
 background-color: red;
 max-width: 40em;
 margin: auto;
}

footer {
 background-color: green;
}
